body {
    background-image: url('White\ cool\ background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    margin-top: auto;
    lighting-color: rgb(0, 136, 255);
    outline-style: groove;
    outline-width: 1px;
    outline-color: white;
    color: black;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    /* Hide overflow */
    /*  background-color: #333; /* Dark background color */
    background-color: black;
    margin-bottom: 10px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: fixed;
    padding: 0%;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    /* Make sure that the links stay side-by-side */
    display: block;
    /* Change the display to block, for responsive reasons (see below) */
    color: white;
    /* White text color */
    text-align: center;
    /* Center the text */
    padding: 14px 20px;
    /* Add some padding */
    text-decoration: none;
    /* Remove underline */

}

/* Change color on hover/mouse-over */
.navbar a:hover {
    background-color: #ddd;
    /* Grey background color */
    color: black;
    /* Black text color */
}

/* Change color on active/mouse-over */
#navbar a.active {
    background-color: #04AA6D;
    color: white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-top: 25%;
    width: fit-content;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}